.selectwidthauto {
    width:auto !important;
    display: inline-block !important;
    margin: 5px;
}

input.input-validation-error {
   border: 1px solid #e80c4d;
}

input[type="radio"] {
   margin-top: -1px;
   margin-left: 2px;
   vertical-align: middle;
}

.box {
   margin-bottom: 10px;
 }

.highlightWrong {
   accent-color: brown;
}